body{
    overflow-y: hidden;
}

header{ 
    background-color: transparent;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.header_titel{
    font-family: var(--accent_font_family);
    color: var(--primary_color);
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}
.header_titel_2{
    font-family: var(--accent_font_family);
    color: var(--secondary_color);
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}

.header_img{
    width: 2rem;
    margin-right: 10px;
}

.header_funktions_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
}

.header_search{
    width: 200px;
    height: 1.5rem;
    border-radius: 10px;
    border: 1px solid var(--border_color);
    padding: 5px;
    background-color: var(--background_color);
    color: var(--text_color);
}
.header_search:focus {
    outline: none;
}

.header_icon{
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.header_icon svg path {
    fill: var(--secondary_color);
}

svg{
    cursor: pointer;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--border_color);
    margin: 0;
    padding: 0;
}

.popup {
    position: fixed; /* Change to fixed */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center the text horizontally */
    text-align: center; /* Center the text */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--foreground_color);
    border-radius: 15px;
    padding: 20px;
    z-index: 1001; /* Ensure popup is above the blurred background */
}

.popup_buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    gap: 20px; /* Add margin between the buttons */
}

.popup_button {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary_color);
    color: var(--text_color);
}

.popup_button:hover {
    background-color: var(--secondary_color);
}

.popup_button.warning {
    background-color: var(--warning_color);
}

.popup_button.warning:hover {
    background-color: var(--warning_color); /* Ensure the background color remains the same on hover */
    opacity: 0.8; /* Add opacity to indicate hover effect */
}

.popup_close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup_close path {
    fill: var(--text_color);
}

body.popup-open {
    pointer-events: none;
}

body.popup-open .popup {
    pointer-events: auto;
    filter: none;
    z-index: 1000; /* Ensure popup is above the blurred background */
}

body.popup-open .blur-background {
    filter: blur(5px);
    pointer-events: none;
}




.profile_popup_username{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    color: var(--text_color);
    margin: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
}

.profile_popup_signout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: var(--warning_color);
    margin: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    cursor: pointer;
}

.profile_popup_signout svg path {
    fill: var(--warning_color);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}



.menu{
    padding: 20px;
    width: 300px;
    border-right: 1px solid var(--border_color); 
    height: calc(100vh - 100px);
    position: relative; /* Add this line */
}



.menu h2{
    color: var(--text_color);
    font-family: var(--accent_font_family);
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.menu_scheduled{
    padding-bottom: 20px;
}

.menu_scheduled_buttons_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu_scheduled_buttons{
    background-color: var(--foreground_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

.menu_scheduled_buttons.active_list {
    background-color: var(--primary_color);
}

.menu_scheduled_buttons.active_list:hover {
    background-color: var(--primary_color);
}

.menu_scheduled_buttons h3{
    margin: 0;
    cursor: pointer;
}

.menu_scheduled_buttons svg path{
    fill: var(--text_color);
    cursor: pointer;
    
}

.menu_scheduled_icons{
    padding: 10px;
    fill: var(--text_color);
    cursor: pointer;
}

.menu_list_menu{
    margin-top: 10px;
    padding-bottom: 20px;
    overflow-y: auto; /* Change to auto */
    max-height: calc(100vh - 400px); /* Set the maximum height dynamically */
}


.menu_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Change to space-between */
    padding: 10px;
    background-color: var(--foreground_color);
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
}

.menu_list_left {
    display: flex;
    align-items: center;
}

.menu_list_left svg path {
    fill: var(--text_color);
}

.menu_list_left input#newListInput {
    border: none;
    background: none;
    font-size: 1.2rem;
    color: var(--text_color);
    margin-left: 10px;
    width: 100%;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
}

.menu_list_left input#newListInput:focus {
    outline: none;
}

.menu_list .delete_icon {
    display: none; 
    fill: none;
}

.menu_list .delete_icon path {
    stroke: var(--warning_color); /* Change the color here */
}


.menu_list:hover .delete_icon {
    display: block; 
}

.menu_list h3{
    margin: 0;
    padding: 0;
    color: var(--text_color);
    font-size: 1.2rem;
    margin-left: 10px; /* Add margin to separate text from icon */
}
.menu_list:hover { 
    background-color: var(--foreground_color_hover);
}
.menu_list svg {
    fill: var(--text_color);
}

.addList{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: var(--secondary_color);
}

.todo_div{
    padding: 20px;
    width: calc(100vw - 300px);
    height: calc(100vh - 100px);
    position: relative;
}

.todo_div h2{
    color: var(--text_color);
    font-family: var(--accent_font_family);
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}


.todos_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    overflow-y: auto; /* Change to auto */
    max-height: calc(100vh - 220px); /* Set the maximum height dynamically */
}

.todo_date_text{
    color: var(--border_color);
    font-size: .8rem;
    margin: 0;
    padding: 0;
}

/* Custom scrollbar styles */
.todos_div::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.todos_div::-webkit-scrollbar-track {
    background: var(--background_color); /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

.todos_div::-webkit-scrollbar-thumb {
    background: var(--primary_color); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.todos_div::-webkit-scrollbar-thumb:hover {
    background: var(--secondary_color); /* Color of the scrollbar thumb on hover */
}

.todo_date_text.past_due {
    color: var(--warning_color);
}

.todo_add{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--secondary_color);
}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative; 
}

.todo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45px; 
    right: 0;
    border-bottom: 1px solid var(--border_color); 
}

.todo_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todo_header p{
    margin: 0;
    padding: 0;
}

.todo_header input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    width: 1.4rem;
    height: 1.4rem;
    border: 2px solid var(--text_color);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background: none;
}

.todo_header input[type="checkbox"]:checked::before {
    content: '';
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    background-color: var(--text_color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.todo_header input#newTodoInput {
    border: none;
    background: none;
    font-size: 1rem; /* Match the font size of the todo text */
    color: var(--text_color);
    width: 100%;
    font-style: italic; /* Match the font family */
    margin: 0; /* Match the margin of the todo text */
    padding: 0; /* Match the padding of the todo text */
    line-height: 1.5; /* Match the line height of the todo text */
}

.todo_header input#newTodoInput:focus {
    outline: none;
}

.todo_icons {
    display: none; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 50px;
}

.todo:hover .todo_icons {
    display: flex;
}

.delete_icon path {
    stroke: var(--warning_color); /* Change the color of the first three icons */
}


/* Custom scrollbar styles */
.menu_list_menu::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.menu_list_menu::-webkit-scrollbar-track {
    background: var(--background_color); /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

.menu_list_menu::-webkit-scrollbar-thumb {
    background: var(--primary_color); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.menu_list_menu::-webkit-scrollbar-thumb:hover {
    background: var(--secondary_color); /* Color of the scrollbar thumb on hover */
}

/* ...existing code... */

.delete_popup {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center the text horizontally */
    text-align: center; /* Center the text */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--foreground_color);
    border-radius: 15px;
    padding: 20px;
    z-index: 1001; /* Ensure popup is above the blurred background */
}

.delete_popup_buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px; /* Add margin between the buttons */
}

.delete_popup_button {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary_color);
    color: var(--text_color);
}

.delete_popup_button:hover {
    background-color: var(--secondary_color);
}

.delete_popup_button.warning {
    background-color: var(--warning_color);
}

.delete_popup_button.warning:hover {
    background-color: var(--warning_color); /* Ensure the background color remains the same on hover */
    opacity: 0.8; /* Add opacity to indicate hover effect */
}

.styled-input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border-width: .1em;
    border-color: var(--border_color);
    border-style: solid;
    background-color: transparent;
    color: var(--text_color);
    font-size: 1em;
    font-weight: 300;
    cursor: text;
}

.styled-input:focus {
    outline: none;
}

.styled-input::placeholder {
    color: var(--text_color);
}

.popup_button.save {
    background-color: var(--primary_color);
}

.popup_button.save:hover {
    background-color: var(--secondary_color);
}

.popup_button.cancel {
    background-color: var(--warning_color);
}

.popup_button.cancel:hover {
    background-color: var(--warning_color); /* Ensure the background color remains the same on hover */
    opacity: 0.8; /* Add opacity to indicate hover effect */
}

.welcome-text {
    text-align: center;
    font-family: var(--accent_font_family);
    color: var(--border_color);
    font-size: 1.5rem;
    margin-top: 20px;
}

.active_list {
    background-color: var(--primaryprimary_color_hover);
}

/* ...existing code... */

.menu_scheduled_buttons.active_list {
    background-color: var(--primary_color);
}


.menu_scheduled_buttons.active_list:hover {
    background-color: var(--primary_color);
}

.menu_list.active_list {
    background-color: var(--primary_color);
}

.menu_list:hover, .menu_scheduled_buttons:hover {
    background-color: var(--foreground_color_hover);
}

.menu_list.active_list:hover, .menu_scheduled_buttons.active_list:hover {
    background-color: var(--primary_color);
}

/* ...existing code... */

.hide-todo-add {
    display: none;
}

/* ...existing code... */

.back-button {
    display: none;
    color: var(--secondary_color);
    cursor: pointer;
    margin: 10px;
    margin-left: 0;
    font-size: medium;
}

@media (pointer: coarse) {
    .body {
        display: none;
    }
}

@media screen and (max-width: 600px){

    #todo_div_header {
        margin-left: 10px;
    }
    
    .menu{
        width: 100vw;
        border: none;
        padding: 0;
    }

    .menu_list_menu{
        max-height: calc(100vh - 300px);
        padding-bottom: 0;
    }

    .menu_list{
        margin-right: 0;
    }

    .menu_scheduled{
        padding: 10px;
    }

    .menu_lists{
        padding: 10px;
    }

    .addList{
        position: absolute;
        right: 20px;
        top: 213px;
        height: 30px;
    }

    .todo_div{
        position: absolute;
        background-color: var(--background_color);
        width: 100vw;
        display: none; /* Hide todos div initially */
        padding: 0;
    }

    .todo_div.show {
        display: block; /* Show todos div when needed */
    }

    .back-button {
        display: block; /* Show back button on phone views */
    }

    .menu_list.active_list, .menu_scheduled_buttons.active_list {
        background-color: var(--foreground_color); /* Change to foreground color */
    }

    .todo_add {
        position: absolute;
        top: 49px;
        left: 75vw;
        color: var(--secondary_color);
    }
    
    .save-button {
        display: block;
        padding: 4px;
        background-color: var(--primary_color);
        color: var(--text_color);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
    }
    .save-button:hover {
        background-color: var(--secondary_color);
    }
    
}