body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: top center; 
    background-repeat: no-repeat; 
}

header{
    background-color: transparent;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.header_titel{
    font-family: var(--accent_font_family);
    color: var(--primary_color);
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.header_img{
    width: 3em;
    height: 3em;
    margin-right: 10px;
}

.form_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    background-color: var(--forground_color);
    color: var(--text_color);
    padding: 20px;
    width: 600px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.form_div h2{
    font-family: var(--accent_font_family);
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.form_div h3{
    font-weight: normal;
    margin-top: 5px;
}

.form_div form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
}

.form_div input[type="text"], input[type="password"]{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border-width: .02em;
    border-color: var(--secondary_color);
    border-style: solid;
    background-color: transparent;
    color: var(--text_color);
    font-family: var(--accent_font_family);
    font-size: 1.2em;
}