@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.light_theme {
    --primary_color: #9ebee2; /* Softer blue for primary elements */
    --primary_color_hover: #b3ceec; /* Slightly darker blue for hover effect */
    --secondary_color: #7BAFD4; /* Medium-light blue for secondary elements */
    --secondary_color_hover: #8FBFE0; /* Slightly darker for hover effect */
    --foreground_color: #FAFBFC; /* Very light gray for foreground areas */
    --background_color: #FFFFFF; /* White background */
    --warning_color: #E76F51; /* Muted warm red for warnings */
    --border_color: #E0E4E9; /* Very light gray for borders */
    --text_color: rgba(0, 0, 0, 0.87); /* Dark text for readability */
    --font_family: "Open Sans", sans-serif;
    --accent_font_family: "Fugaz One", sans-serif;
}

.dark_theme {
    --primary_color: #3D5A80;
    --primary_color_hover: #46668f;
    --secondary_color: #98C1D9;
    --secondary_color_hover: #a4cfe7;
    --foreground_color: #293241;
    --background_color: #121720;
    --warning_color: #EE6C4D;
    --border_color: #566173;
    --text_color: rgba(238, 238, 238, 1);
    --font_family: "Open Sans", sans-serif;
    --accent_font_family: "Fugaz One", sans-serif;
}

* {
    font-family: var(--font_family);
    cursor: default;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background_color);
    color: var(--text_color);
}

a {
    color: var(--secondary_color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--secondary_color_hover);
}

.hidden {
    display: none;
}